nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(225, 195, 152, 0.599);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  gap: 40%;
  align-items: center;
  z-index: 0;
  z-index: 10000;
}

nav i{
  cursor: pointer;
  font-size: 1.4rem;
}

nav button{
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  transition: .4s;
}

nav h3{
  transition: .4s;
  cursor: pointer;
}

nav h3:hover{
  letter-spacing: 2px;
}

.friendsMenu{
  width: 300px;
  padding: 20px;
  height: 100vh;
  background-color: rgba(240, 188, 188, 0.486);
  position: fixed;
  right: -400px;
  top: 48px;
  opacity: 0;
  transition: .4s;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.friendsMenu.active{
  opacity: 1;
  right: 0;
}

.eachFriend{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 4px;
}

.sideButtons{
  display: flex;
  gap: 10px;
}

.friendsMenu button, .sideButtons button, form button, .friendRequestsMenu button{
  padding: 2px 5px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.friendsMenu aside{
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.friendsHeader{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.eachFriend button i{
  font-size: 1.2rem;
}

.addFriendsMenu{
  background-color: pink;
  padding: 20px;
  height: 0;
  width: 600px;
  transition: .4s;
  opacity: 0;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10000;
  border-radius: 10px;
  overflow: hidden;
  pointer-events: none;
}

.addFriendsMenu input{
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  padding: 5px;
}

.addFriendsMenu input::placeholder{
  font-weight: 600;
}

.addFriendsMenu.active{
  opacity: 1;
  height: 200px;
  pointer-events: all;
}

.addFriendsMenu form{
  position: relative;
}

.addFriendsMenu form button{
  position: absolute;
  right: 10px;
  top: 0;
}

.friendRequestsMenuHeader{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid grey;
  padding: 5px;
}

.friendRequestsMenu{
  background-color: pink;
  padding: 0;
  width: 600px;
  transition: .4s;
  opacity: 0;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10000;
  border-radius: 10px;
  overflow: hidden;
  pointer-events: none;
}
.friendRequestsMenu.active{
  opacity: 1;
  pointer-events: all;
  padding: 20px;
}

@media(max-width: 630px){
  .friendsMenu{
    width: 200px;
  }

  .friendsMenu aside p{
    font-size: .8rem;
  }

  .addFriendsMenu{
    width: 90%;
  }

  .friendRequestsMenu{
    width: 90%;
  }

  * > p{
    font-size: .8rem;
  }

  * > i{
    font-size: .7rem;
  }
}