<nav>
  <h3>{{ studentInfos.username }}</h3>  
  <button (click)="toggleFriends()"> <i class='bx bxs-user-detail'></i> </button>
</nav>

<aside class="friendsMenu" [class.active]="friendsMenuClass">
  <aside class="friendsHeader">
    <p>Your friends</p>
    <div class="sideButtons">
      <button (click)="toggleAddFriendsMenu()"><i class='bx bx-search-alt-2'></i></button>
      <button (click)="toggleFriendRequestsMenu()"> <i class='bx bx-envelope'></i> </button>
    </div>
  </aside>
    @for(friend of friends; track friend.id){
      <div class="eachFriend">
        <p>{{ friend.username }}</p>
        <button (click)="togglePopup(friend.username)"> <i class="bx bx-x"></i> </button>
      </div>
    } @empty{
      <p>You don't have any friends...</p>
    }
  </aside>

  <div class="addFriendsMenu" [class.active]="addFriendsMenuClass">
    <form (ngSubmit)="onSubmit()" [formGroup]="searchFriendsForm">
      <input type="text" placeholder="Search for friends..." formControlName="friendName" (input)="filterFriends()">
      <button type="button" (click)="toggleAddFriendsMenu()"> <i class="bx bx-x"></i> </button>
    </form>

    @for(friend of filteredFriends; track friend){
      <div class="eachFriend">
        <p>{{ friend }}</p>
      </div>
    } @empty{
      <p>Do you want to add someone?</p>
    }
  </div>

  <div class="friendRequestsMenu" [class.active]="friendRequestsMenuClass">
    <div class="friendRequestsMenuHeader">
      <p>Friend requests</p>
      <button type="button" (click)="toggleFriendRequestsMenu()"> <i class="bx bx-x"></i> </button>
    </div>
    
    @for(sender of sendersUsername; track sender){
      <div class="eachFriend">
        <p>{{ sender }}</p>
        <div class="sideButtons">
          <button (click)="acceptFriendRequest(sender)"> <i class='bx bx-check'></i> </button>
          <button (click)="declineFriendRequest(sender)"> <i class="bx bx-x"></i> </button>
        </div>
      </div>
    } @empty{
      <p>You don't have any friend requests</p>
    }
  </div>

  <app-confirm-popup (confirmation)="blockFriend()"></app-confirm-popup>
  <app-notification></app-notification>