form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: blue;
  padding: 30px;
  border-radius: 20px;
}

form button{
  letter-spacing: 3px;
  padding: 3px 5px;
  outline: none;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  transition: .4s;
  color: white;
}

form button:hover{
  letter-spacing: 5px;
}

form input{
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 3px 8px;
  height: 30px;
  background-color: transparent;
  border-bottom: 2px solid white;
  color: white;
}

form label{
  position: relative;
  pointer-events: none;
  transition: .4s;
  bottom: 40px;
  right: 50px;
}

form label[for="email"]{
  right: 70px;
}

form input:focus + label,
form input:valid + label{
  bottom: 70px;
}