<app-header></app-header>

@if(errorMessage!==''){
  <h1>{{ errorMessage }}</h1>
}

@if(studentInfos.username){
  <main>
    <aside class="profileDetails">
      <h1>{{ studentInfos.username }}</h1>
      <p>Member since {{ studentInfos.createdAt | date }}</p>
      <div class="sideButtons">
        <button (click)="addFriend(studentInfos.username)"><i class='bx bx-user-plus'></i></button>
        <button><i class='bx bx-user-x'></i></button>
        <button><i class='bx bx-user-minus' ></i></button>
      </div>
    </aside>
    @if(studentInfos.notes.length>0){
      <span class="notesContainer">
      @for(note of studentInfos.notes; track note.id){
        <aside class="noteContainer">
          <h3>{{ note.title }}</h3>
          <p>{{ note.content }}</p>
          <p class="date">{{ note.createdAt | date: 'dd/MM/yyyy' }}</p>
          <div class="isPrivate">{{ note.isPrivate }}</div>
          <div class="noteId">{{ note.id }}</div>
        </aside>
      } 
      </span>
    } @else{
        <div class="emptyNotes">
          <h2>{{ studentInfos.username }} doesn't have any notes...</h2>
        </div>
      }
  </main>
}