<span [class.active]="formClass" class="formContainer">
  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <button type="button" (click)="toggleForm()"><i class='bx bx-x'></i></button>
    <input type="text" formControlName="title" required placeholder="Title...">
    <textarea formControlName="content" required placeholder="Content..."></textarea>
    <input type="checkbox" formControlName="isPrivate">
    <button type="submit">send</button>
  </form> 
</span>

<nav>
  <h1>{{ studentInfos.username }}</h1>
</nav>

<span class="notesContainer">
  @for(note of notes; track note.id){
    <aside class="noteContainer" (click)="editNote($event)">
      <h3>{{ note.title }}</h3>
      <p>{{ note.content }}</p>
      <p class="date">{{ note.createdAt | date: 'dd/MM/yyyy' }}</p>
      <div class="isPrivate">{{ note.isPrivate }}</div>
      <div class="noteId">{{ note.id }}</div>
    </aside>
  }
</span>
<button class="showForm" (click)="toggleForm()">add</button>