<span [class.active]="formClass">
  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <button type="button" (click)="toggleForm()"><i class='bx bx-x'></i></button>
    <input type="text" formControlName="title" required>
    <textarea formControlName="content" required></textarea>
    <input type="checkbox" formControlName="isPrivate">
    <button type="submit">send</button>
  </form> 
</span>

<span class="notesContainer">
  @for(note of notes; track note.id){
    <aside class="noteContainer">
      <h1>{{ note.title }}</h1>
      <p>{{ note.content }}</p>
      <p>{{ note.createdAt | date: 'dd/MM/yyyy' }}</p>
    </aside>
  }
</span>
<button class="showForm" (click)="toggleForm()">add</button>