span:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: fixed;
  background-color: rgba(246, 222, 176, 0.822);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  transition: .4s;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  border-radius: 10px;
}

span.active{
  padding: 20px;
  pointer-events: all;
  opacity: 1;
  width: 800px;
  z-index: 1000;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

form ::placeholder{
  font-weight: 800;
}

textarea{
  resize: none;
  height: 400px;
  width: 100%;
  outline: none;
  padding: 20px;
  background-color: rgba(245, 231, 205, 0.774);
  border-radius: 20px;
}

textarea::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da barra de rolagem */
}

textarea::-webkit-scrollbar-thumb {
  background: #888; /* Cor do "thumb" (parte móvel) */
  border-radius: 10px; /* Arredondamento do "thumb" */
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do "thumb" ao passar o mouse */
}

form input{
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  outline: none;
  padding: 5px 8px;
  font-size: 2rem;
  width: 100%;
}

span:first-child .bx-x{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .4s;
  position: absolute;
  right: 0px;
  top: 0px;
}

.bxs-trash{
  position: absolute;
  top: 0;
  font-size: 2rem;
  left: 0;
  cursor: pointer;
  transition: .4s;
}

span:first-child button:hover .bxs-trash{
  top: -5px;
}

button .bx-x{
  font-size: 3rem;
  transition: .4s;
}

span:first-child button:hover .bx-x{
  rotate: 90deg;
}

.showForm{
  position: fixed;
  right: 40px;
  bottom: 40px;
}
main{
  display: grid;
}

.notesContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px;
  padding: 20px;
}

.noteContainer{
  background-color: rgb(239, 229, 215);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -webkit-box-orient: vertical;
  line-clamp: 3; 
  overflow: hidden;
  transition: .4s;
  min-width: 250px;
}

.noteContainer .isPrivate, .noteContainer .noteId{
  display: none;
}

.noteContainer > *{
  pointer-events: none;
}

.noteContainer:hover{
  box-shadow: 0px 5px rgb(212, 182, 182);
}

.noteContainer p, .noteContainer h3{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.noteContainer .date{
  font-size: .7rem;
  color: grey;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: grey;
}

.showForm{
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 15px;
  cursor: pointer;
  background-color: rgba(245, 231, 205, 0.774);
  transition: .4s;
}

.showForm:hover i{
  rotate: 20deg;
}

.showForm:hover{
  margin-bottom: 10px;
  box-shadow: 0 5px rgb(118, 101, 101);
}

.emptyNotes{
  width: 100%;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.emptyNotes p{
  cursor: pointer;
  transition: .4s;
}
.emptyNotes p::after{
  transition: .4s;
  content: '';
  display: block;
  background-color: orangered;
  height: 1.5px;
  width: 10%;
}
.emptyNotes p:hover::after{
  width: 50%;
}


.showForm i{
  font-size: 1.4rem;
  color: white;
  transition: .4s;
}

/* checkbox copied from "https://getcssscan.com/css-checkboxes-examples" */


.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: pointer;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #535db3;
}

.checkbox-wrapper-2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.submitButton, .popupContainer aside button{
  outline: none;
  border: 2px solid black;
  background-color: transparent;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 3px 5px;
  cursor: pointer;
  transition: .4s;
}

.submitButton:hover, .popupContainer aside button:hover{
  letter-spacing: 5px;
}

.popupContainer.popup{
  opacity: 1;
  height: 150px;
  padding: 40px;
  pointer-events: all;
}

.unactiveOverlay.overlay{
  pointer-events: all;
  opacity: 1;
}

.unactiveOverlay{
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.342);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: .4s;
}

.popupContainer{
  position: fixed;
  pointer-events: none;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: .4s;
  z-index: 1001;
  opacity: 0;
  width: 400px;
  height: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  backdrop-filter: blur(3px) brightness(80%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

.popupContainer aside{
  display: flex;
  gap: 40px;
}

.popupContainer aside button{
  border: 2px solid white;
}

.popupContainer *{
  color: white;
}

@media(max-width: 810px){
  span:first-child{
    width: 80%;
  }

  .notesContainer{
    grid-template-columns: repeat(3, 1fr);
  }

  .noteContainer{
    min-width: 150px;
  }

  .noteContainer h3{
    font-size: .9rem;
  }

  .noteContainer p{
    font-size: .7rem;
  }

  span:first-child form button i{
    font-size: 1.7rem;
  }
}

@media(max-width: 587px){
  span:first-child form input{
    font-size: 1.2rem;
  }
  span:first-child form textarea{
    font-size: .8rem;
  }
  span:first-child{
    width: 90%;
  }

  .notesContainer{
    grid-template-columns: repeat(2, 1fr);
  }

  .popupContainer{
    width: 95%;
  }
  .popupContainer h3{
    font-size: .9rem;
  }

  .emptyNotes h2{
    font-size: 1.2rem;
  }
}